
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Bilgi
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2 class="modal-title"> Yardım Ekranı</h2>
            <form>
                <div class="modal-body">
                    
                    <label>
                        12/04/2021
                        <br />
                        Helllo 50 derslik Mvc serinin Sonuna yaklasıyorumm
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

