@model Mvc_Stok.Models.Entity.Tbl_Kategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <!--<div>
        <label> Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAdı" />-->  @*//veri tabaınıdaki ismi name ver*@ 
    <!--</div>-->
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m=>m.KategoriAdı,new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.KategoriAdı,"", new { @style="color:red"})
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="btn1">Kategori Ekle</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal">VAZGEÇ</button>
    </div>
    <script>
        $('#btn1').click(function ()
        {
            alert("Kategori ekleme işlemi Basarılı");
        });

    </script>

</form>
